server:
  port: 8083

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://127.0.0.1:3309/order_db?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: root1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# Feign Client ??
feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 5000

# ?? ??? URL
service:
  user-url: http://localhost:8081
  product-url: http://localhost:8082